$text: #546e7a;
$red: #e74c3c;
$green: #8bc34a;
$bg: #263238;
$gray: #f4f6f5;
$white: #fff;
$bobec: #b0bec5;

@mixin bg-prop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}