@media (max-width: 1150px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__col-address {
    min-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {

  .footer__cop-social {
    margin-top: 30px;
    min-width: 100%;
  }

  .footer__inner {
    justify-content: flex-start;
  }

  .footer__col-menu {
    & + & {
      margin-left: 60px;
    }
  }
}

@media (max-width: 900px) {

  .footer__cop-social {
    margin-top: 30px;
    min-width: 100%;
  }

  .footer__inner {
    justify-content: flex-start;
  }

  .footer__col-menu {
    & + & {
      margin-left: 60px;
    }
  }
}