@import 'vars';
@import 'global';
@import 'fonts';


//START HEADER

.header {
  background-color: #fff;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__box {
  display: flex;
  align-items: center;
}

.header__btn-login--off {
  display: none;
}

.header__btn-logout {
  display: none;

  &.header__btn-login--on {
    display: block;
  }
}


.header__circle {
  &.active {
    display: block;
  }

  display: none;
  width: 34px;
  height: 34px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;


  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
  }

  span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 18px;
    color: #fff;
    right: -7px;
    top: -7px;
    font-size: 11px;
  }
}


.notification {
  span {
    background-color: #fcb322;
  }
}

.message {
  span {
    background-color: $red;
  }
}

.basket {
  margin-right: 20px;

  span {
    background-color: $green;
  }
}

.user {
  margin-right: 30px;
  position: relative;
  padding-right: 20px;

  &::before {
    position: absolute;
    content: '\f107';
    font-family: 'icomoon';
    font-size: 16px;
    color: #707070;
    right: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__info {
    font-size: 14px;
    line-height: 24px;
  }

  &__images {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
  }

  &__money {
    display: block;
    font-weight: 700;
    color: $green;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
  }
}


.user__box,
.basket__box,
.message__box,
.notification__box {
  position: relative;
  height: 90px;
  margin-top: 40px;

  &:hover {
    .user__menu {
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}

.circle__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 0 solid #e0e0e0;
  border-top: none;
  padding: 0 23px;
  width: 269px;
  position: relative;
  transition: all .3s;

  &::before {
    position: absolute;
    top: 27px;
    right: 30px;
    color: $bobec;
  }
}

.circle__info {
  margin-left: 15px;
}

.circle__info-date {
  font-size: 10px;
  color: #707070;
}

.circle__menu {
  box-shadow: 0 16px 20px rgba(52, 52, 52, 0.75);
  position: absolute;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  top: 62px;
  right: 0;
  border-top: none;
  height: 0;
  overflow: hidden;
  transition: all .4s;
  z-index: 1;
}


.basket__box,
.message__box,
.notification__box {
  margin-top: 55px;
  margin-left: 15px;

  &:hover {

    .header__circle::before {
      color: black;
    }

    .circle__menu {
      height: auto;
      border-top: 1px solid #ccc;
    }

    .circle__item {
      padding: 23px;
      border-width: 1px;
    }
  }
}


.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register,
.header__btn-logout {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}


.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    & + li {
      margin-left: 40px;
    }
  }

  a {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }
}

.user__menu {
  position: absolute;
  width: 158px;
  box-shadow: 0 16px 20px rgba(52, 52, 52, 0.75);
  border: 0 solid #cccccc;
  background-color: #ffffff;
  padding: 0 20px;
  top: 69px;
  left: 20px;
  transition: all .3s;
  height: 0;
  overflow: hidden;

  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.circle__info-name {
  font-weight: 500;
  color: $bg;
}

.circle__info-theme {
  font-size: 12px;
  color: $green;
}

.circle__info-price {
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.basket__summ {
  padding: 16px 17px 12px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  border-top: none;
}

.basket__title {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
  color: $bg;
}

.basket__btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 12px 5px;
  background-color: $green;
  text-align: center;
  width: 100px;

  &--checkout {
    width: 123px;
    margin-left: 6px;
    background-color: $red;
  }
}

.message__menu,
.notification__menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .circle__info {
    line-height: 18px;
  }
}

.icons-color::before {
  color: tomato;
}

.header__btn-menu,
.menu__btn {
  display: none;
}

//END HEADER

//START LOGIN

.login {
  background-color: $green;
  max-width: 730px;
  width: 100%;
  padding-top: 92px;
  padding-bottom: 114px;

  &__title {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 42px;
  }

  &__form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    height: 43px;
    margin-bottom: 8px;
    background-color: #76ae36;
    border: none;
    color: #fff;
    padding: 0 10px 0 41px;
    outline: transparent;
    font-size: 14px;
    cursor: default;

    &::placeholder {
      color: #fff;
      caret-color: #fff;
    }
  }

  &__label {
    position: relative;
    color: #fff;
    font-size: 14px;

    &::before {
      position: absolute;
      font-family: 'icomoon' !important;
      content: "\f007";
      bottom: -3px;
      left: 18px;
    }

    &--password {
      &::before {
        content: "\f023";
      }
    }
  }

  &__wrapper-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }

  &__btn {
    box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75);
    background-color: #ffffff;
    padding: 0 10px;
    width: 140px;
    height: 50px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
  }

  &__register {
    height: 50px;
    max-width: 246px;
    width: 100%;
    background-color: #76ae36;
    border: none;
    color: #fff;
    padding: 0 10px;
    text-align: center;
    outline: transparent;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__register-text {
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      font-family: 'icomoon' !important;
      content: "\f044";
      left: 0;
    }
  }

  &__forgot {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    margin-top: 7px;
    margin-right: auto;
    padding: 20px 0;
  }

  .fancybox-button svg path {
    fill: #fff;
  }
}

//END LOGIN

//START SEARCH
.search {
  @include bg-prop;;
  min-height: 533px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 55px 0 70px;

      &-text {
        margin-bottom: 20px;
      }
    }
  }
}


.search__inner {
  padding: 155px 0 100px;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
      height: 56px;
      padding-left: 25px;;
      padding-right: 60px;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      box-sizing: border-box;
      border: 2px solid transparent;

      &:focus {
        border: 2px solid dodgerblue;
      }

      &::placeholder {
        color: #90a4ae;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 16px;
      right: 20px;
      cursor: pointer;
    }
  }
}

//END SEARCH

//START PRODUCTS
.products {
  padding: 110px 0;
  background-color: $gray;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 13px 22px;
    background-color: #fff;
    border: none;
    color: $bg;
    cursor: pointer;
    font-weight: 500;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }

    & + button {
      margin-left: 5px;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -30px;
}

.product__item {
  flex-basis: calc(25% - 30px);
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  margin-left: 30px;

  &-img {
    display: block;
    min-height: 250px;
    @include bg-prop;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    font-size: 18px;
    color: $bg;
    display: block;
  }

  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }

  &-price {
    color: $bg;
    font-size: 20px;
    font-weight: 700;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      display: inline-block;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      @include bg-prop;
      margin-right: 13px;
    }

    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
    }

  }

  &-star {
    font-size: 12px;

    span {
      color: $bg
    }
  }

}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0;
    box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
    padding: 20px 32px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: $bg;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

//END PRODUCTS

//START PRODUCT-SLIDER
.product-slider {
  padding: 110px 0 120px;

  .slick-dots {
    text-align: center;
    margin-top: 50px;
  }

  li {
    display: inline-block;

    button {
      border-radius: 50%;
      background-color: #e8e8e8;
      border: 1px solid #ccc;
      font-size: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      outline: transparent;
    }

    &.slick-active {
      button {
        background-color: $green;
        border: 1px solid transparent;
      }
    }

  }

  li + li {
    margin-left: 7px;
  }


}

//END PRODUCT-SLIDER

//START ADVANTAGES
.advantages {
  background-color: $bg;
  padding: 100px 0 110px;

  &__title {
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    text-align: center;
    max-width: 340px;
    padding: 0 15px;

    &:hover {
      .advantages__item-image {
        background-color: $green;

        svg {
          fill: #fff;
        }
      }

      .advantages__item-title {
        color: $green;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      width: 113px;
      height: 113px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 113px;
      transition: all .2s;


      svg {
        display: inline-block;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 24px;
      color: $white;
      margin-bottom: 26px;
      transition: all .2s;

    }

    &-text {
      color: $bobec;
    }

  }
}

//END ADVANTAGES

//START AUTHOR
.author {
  @include bg-prop;
  min-height: 761px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: $green;
    padding: 0 60px;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $white;
    font-size: 30px;
    line-height: 30px;
    max-width: 260px;
    margin-right: 48px;

    span {
      font-weight: 700;
    }
  }

  &__link {
    //display: inline-block;
    padding: 14px 36px;
    background-color: $white;
    font-size: 18px;
    line-height: 36px;
  }
}

//END AUTHOR

//START TUTORIAL
.tutorial {
  padding: 70px 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    margin: 0 15px;
    background-color: #f8f8f8;

    &-image {
      @include bg-prop;
      width: 370px;
      height: 270px;
    }

    &-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: $bg;
      padding: 30px 10px;
    }
  }

}

//END TUTORIAL


//START FOOTER
.footer {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 116px 0 70px;
  }

  &__col {
    max-width: 261px;
    width: 100%;

    &-menu {
      max-width: 220px;
    }

    &-text {
      color: #b7c3c8;
      margin-bottom: 35px;
    }

    &-title {
      position: relative;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      color: $white;
      padding-bottom: 25px;
      margin-bottom: 35px;

      &::before {
        position: absolute;
        bottom: 0;
        left: 2px;
        content: '';
        width: 51px;
        height: 3px;
        background-color: $green;
      }
    }
  }

  &__info {
    position: relative;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-left: 30px;

    &::before {
      position: absolute;
      content: '';
      font-family: 'icomoon' !important;
      font-size: 18px;
      left: 0;
      top: -1px;
      color: $green;
    }
  }
}

.footer__address::before {
  content: '\f041';
}

.footer__phone::before {
  content: "\f095";
}


.footer__copy {
  border-top: 1px solid #424d53;

  &-text {
    color: #919699;
    text-align: center;
    padding: 27px 0 32px;
  }
}

.footer__col-list {
  color: #b7c3c8;

  a {
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      content: '\f105';
      font-family: 'icomoon' !important;
      font-size: 18px;
      left: 0;
      top: -1px;
      color: $green;
    }

    &:hover {
      color: $white;
    }

  }

  li + li {
    margin-top: 20px;
  }
}

.footer__social-link {
  margin-bottom: 41px;

  li {
    display: inline-block;

    & + li {
      margin-left: 7px;
    }
  }

  a {
    width: 28px;
    height: 28px;
    background-image: url('../images/social-css_sprites.png');
  }
}

.link-twitter {
  background-position: -84px 0;
}

.link-youtube {
  background-position: -112px -0;
}

.link-pinterest {
  background-position: -56px -0;
}

.link-linkedin {
  background-position: -28px -0;
}

.footer__form-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 18px;
}

.footer__form {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    background-color: #2f3c43;
    border: 1px solid #000000;
    outline: transparent;
    height: 40px;
    padding: 14px 16px;
    color: $white;
    display: block;

    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 43px;
    height: 38px;
    border: none;
    background-color: $green;
    cursor: pointer;
    outline: transparent;

    &::after {
      position: absolute;
      content: '\f124';
      font-family: 'icomoon' !important;
      font-size: 18px;
      right: 5px;
      bottom: 8px;
      left: 2px;
      color: $white;
    }
  }
}

//END FOOTER


/* ------ PRODUCT-PAGE START------ */
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 28px 32px;
  margin-bottom: 30px;
  width: 270px;

  &--sales {
    padding: 0;
  }

}

.aside__title {
  font-size: 20px;
  font-weight: 700;
  color: $bg;
  padding: 26px 0 19px;
  border-bottom: 1px solid #dde3e8;
}

.category__list {
  padding-top: 10px;

  li {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    position: relative;
    padding-left: 18px;

    &::before {
      position: absolute;
      content: '\f105';
      font-family: 'icomoon' !important;
      font-size: 18px;
      left: 0;
      color: $green;
    }

    span {
      color: #90a4ae;
      margin-left: 10px;
    }

    a {
      color: $bg;
    }
  }
}

.price-range {
  form {
    padding: 20px 0 0;

    button {
      background-color: $green;
      padding: 16px 10px;
      border: none;
      margin: 52px 5px 0 5px;
      width: 100%;
      color: $white;
      text-align: center;
      cursor: pointer;

      span {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        padding-left: 9px;
      }
    }
  }
}

.irs-max,
.irs-min {
  display: none;
}


.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: $bg;
}

.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  border: 3px solid $green;
  border-radius: 50%;
  background-color: $white;
  top: 19px;
  cursor: pointer;

  &:hover {
    background-color: #fff;
  }
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from, .irs-single, .irs-to {
  top: 45px;
}

.irs--flat .irs-to,
.irs--flat .irs-from {
  background-color: transparent;
  color: #78909c;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;

}

.irs--flat .irs-to:before,
.irs--flat .irs-from:before {
  display: none;
}

.product-page__aside {
  .product__item {
    box-shadow: none;
    padding-top: 30px;
    margin-bottom: 30px;

    & + .product__item {
      border-top: 1px solid #dde3e8;
    }
  }

  .product__item-img {
    min-height: 121px;
  }

  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }

  .product__item-info {
    padding: 0;
    min-height: 0;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-price {
    font-size: 16px;
  }

  .product__item-starnum {
    display: none;
  }

  .rate-star {
    margin-right: 0;
  }

  .product__item-author .avatar {
    margin-right: 9px;
  }

  .jq-ry-container {
    padding: 0;
  }

  .top-sellers__link {
    background-color: $green;
    padding: 16px 10px;
    //margin: 52px 5px 0 5px;
    width: 100%;
    color: $white;
    text-align: center;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    //padding-left: 9px;
  }
}

.product-page__content {
  width: 100%;

  .product__item {
    flex-basis: calc(33.333% - 30px);
    margin-left: 30px;
    background-color: #fff;
    transition: all .5s;

    &.list {
      max-width: 100%;
      flex-basis: unset;

      .product__item-img {
        float: left;
        width: 240px;
        min-height: 100%;
      }

      .product__item-text {
        display: block;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #70838d;
      }

      .product__item-price {
        font-size: 30px;

        span {
          display: block;
          font-size: 13px;
          color: #aeb4bb;
          margin-top: 30px;
        }
      }

      .product__item-name {
        max-width: 480px;
      }

      .product__item-list {
        display: block;
      }

      .product__item-star {
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }

  .product__item-list {
    display: none;

    .icon-comment-o,
    .icon-heart-o {
      position: relative;
      display: inline-block;
      font-size: 12px;
      color: #70838d;
      padding-left: 50px;
      border-left: 2px solid $bobec;

      span {
        font-weight: 500;
        color: $bg;
      }

      &::before {
        color: $green;
        font-size: 16px;
        position: absolute;
        left: 20px;
        bottom: -1px;

      }
    }

    .icon-comment-o {
      padding-right: 30px;
    }
  }

  .product__item-text {
    display: none;
  }

  .product__item-price {
    span {
      display: none;
    }
  }

  .product__item-img {
    min-height: 180px;
  }

  .product__item-content {
    padding: 25px 20px 10px;
    align-items: normal;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-info {
    padding: 15px 20px;
    min-height: 65px;
  }

  .rate-star {
    margin-right: 0;
  }
}

.product-page__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: -30px;
}

.product-page__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 25px;
  height: 60px;
  margin-bottom: 30px;
  font-size: 14px;


  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #90a4ae;
    outline: transparent;

    &.active {
      color: $green;
    }
  }
}

.product-page__filter-sort {
  display: flex;
  align-items: center;
}

button.icon-sort-amount-desc {
  font-size: 14px;
  color: #455a64;
  margin-right: 12px;
}

button.icon-unsorted {
  font-size: 18px;
  color: #707070;
  margin-left: 14px;
}

.pagination {
  font-weight: 500;

  li {
    display: inline-block;

    & + li {
      margin-left: 6px;
    }
  }

  a,
  span {
    width: 43px;
    height: 38px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);

    background-color: #fff;
    color: #263238;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: #e74c3c;
      color: #fff;
    }
  }
}

//END OF PRODUCT PAGE


//START OF PRODUCT-ONE

.product-one {
  background-color: #f4f6f5;

  &__inner {
    display: flex;
  }

  &__content {
    padding-bottom: 100px;
    margin-right: 30px;
    max-width: 870px;
  }

  &__images-inner {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 40px;
  }

  &__images {
    max-width: 829px;
    width: 100%;
    height: 422px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__text {
    color: #707070;
    font-size: 16px;
    line-height: 24px;
    max-width: 850px;
    margin-bottom: 45px;
  }

  &__box {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__link {
    display: flex;

    a + a {
      margin-left: 18px;
    }
  }

  &__button {
    width: 158px;
    height: 50px;
    padding: 0 8px;
    line-height: 50px;
    background-color: $red;
    font-size: 16px;
    color: #f4f6f5;

    &--dark {
      background-color: #455a64;
    }

    &--green {
      background-color: $green;
    }
  }

  &__social-btn {
    width: 54px;
    padding: 0 8px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    background-color: #6370b6;

    & + & {
      margin-left: 3px;
    }
  }

  .icon-twitter {
    background-color: #64b5f6;
  }

  .icon-linkedin {
    background-color: #4f71ce;
  }

  .icon-pinterest {
    background-color: #d32f2f;
  }

  &__more-title {
    width: 100%;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    padding: 20px 0 20px 28px;
    color: #263238;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
  }

  &__more-icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__mini-product {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 270px;
    width: 100%;
    height: 90px;
    margin-bottom: 28px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  }

  &__mini-image {
    width: 100px;
    height: 90px;
  }

  &__mini-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__mini-info {
    padding-left: 20px;
  }

  &__name {
    color: #263238;
    font-size: 14px;
    font-weight: 500;
  }

  &__cat {
    color: #8bc34a;
    font-size: 12px;
  }

  &__price {
    color: #263238;
    font-size: 18px;
    font-weight: 700;
  }

  &__tabs {
    margin-bottom: 52px;
  }

  .tabs {
    display: flex;
    text-align: center;
    border: 1px solid #d7d7d7;
    cursor: pointer;
  }

  .tab {
    width: 100%;
    background-color: #fff;
    color: #70838d;
    font-size: 16px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    & + .tab {
      border-left: 1px solid #d7d7d7;
    }

    &.active {
      color: #263238;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 3px solid $green;
    }
  }

  .tab__content {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 38px 36px 66px;
  }

  .tab-item {
    display: none;

    &.active-tab {
      display: block;
    }

    &__item {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        content: '\f105';
        font-family: 'icomoon' !important;
        font-size: 18px;
        left: 0;
        top: -1px;
        color: $green;
      }
    }

    &__list {
      color: #707070;
      font-size: 16px;
      line-height: 36px;
      column-count: 2;
      //column-width: 250px;
      column-gap: 25px;
    }
  }

  &__product-price {
    color: #e74c3c;
    font-size: 22px;
    font-weight: 500;
  }

  &__type {
    border: 1px solid #cccccc;
    color: #70838d;
    font-size: 13px;
    padding-right: 10px;
  }

  .jq-selectbox {
    &__select {
      height: 27px;
      padding: 0 30px 0 11px;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      font-family: Roboto, sans-serif;
      color: #707070;
      font-size: 15px;
      text-shadow: none;
      line-height: 27px;
    }

    &__trigger {
      border-left: none;
      top: -5px;
      right: -5px;
    }

    &__trigger-arrow {
      right: 20px;
      line-height: 40px;
      top: 0;
      border: none;
      &::before {
        font-family: 'icomoon';
        content: "\f0d7";
        color: $green;

      }
    }
  }

  &__price-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    align-items: center;
  }

  &__aside-btn {
    width: 100%;
    height: 48px;
    background-color: #546e7a;
    color: #fff;
    margin-bottom: 8px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    cursor: pointer;

    &.icon-shopping-cart {
      background-color: $green;
      font-weight: 400;
    }

    &.icon-heart-o {
      background-color: #42a5f5;
      font-weight: 400;
    }
  }

  &__aside-btn-text {
    padding-left: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }

  &__author-box {
    margin-top: 25px;
    display: flex;
  }

  &__author-img {
    width: 73px;
    height: 63px;
    margin-right: 16px;
  }

  &__author-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__author-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1;
  }

  &__author-name {
    height: 14px;
    color: #263238;
    font-size: 18px;
  }

  &__author-profile {
    padding: 10px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #707070;
    font-size: 13px;
  }

  &__awards {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__award {
    width: 34px;
    height: 37px;
    background-image: url('../images/content/award-yellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 20px;

    &--red {
      background-image: url('../images/content/award-red.png');
    }

    &--blue {
      background-image: url('../images/content/award-blue.png');
    }

    &--green {
      background-image: url('../images/content/award-green.png');
    }

    &--grey {
      background-image: url('../images/content/award-grey.png');
    }
  }

  &__sales {
    padding: 23px 28px;
    color: #a6b5bb;
    font-size: 20px;
  }

  &__quantity {
    color: #263238;
    font-size: 20px;
    font-weight: 700;
  }

  &__sales-text {
    color: #707070;
    font-size: 16px;
    font-weight: 300;
  }

  &__property {
    color: #263238;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
  }

  &__product-info {
    margin-top: 28px;
  }

  &__info {
    color: #70838d;
  }


}

//END OF PRODUCT-ONE

// PAGE-404 START
.page404 {

  &__wrapper {
    border: 1px solid #d7d7d7;
    margin-bottom: 150px;
  }

  &__head {
    background-color: #fff;
    color: #444444;
    font-size: 24px;
    font-weight: 500;
    padding: 23px 28px;
  }

  &__inner {
    background-color: $green;
    text-align: center;
    padding: 0 10px 100px;
  }

  &__title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 31px;
  }

  &__title {
    font-family: "Open Sans", "sans-serif";
    font-weight: 800;
    color: #fffefe;
    font-size: 300px;
    margin-right: 20px;
  }

  &__img {
    width: 150px;
    height: 292px;
  }

  &__subtitle {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    letter-spacing: 6px;
    margin-bottom: 35px;
    line-height: 24px;
  }

  &__text {
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  &__link {
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 22px 32px;
    border: 2px solid #fff;
    border-radius: 6px;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      color: $green;
    }
  }
}

// PAGE-404 END

// ABOUT START
.about {
  &__wrapper {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-bottom: 143px;
  }

  &__head {
    color: #263238;
    font-size: 24px;
    font-weight: 500;
    padding: 23px 28px;
  }

  &__inner {
    background-color: $white;
    padding-bottom: 54px;
    border-top: 1px solid #d7d7d7
  }

  &__title {
    color: #444444;
    font-size: 20px;
    font-weight: 700;
    margin: 44px 0 10px;
    padding: 0 56px;
  }

  &__text {
    color: #707070;
    font-size: 15px;
    line-height: 24px;
    padding: 0 58px;
  }
}

// ABOUT END

// CONTACTS START
.contacts {
  &__wrapper {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-bottom: 143px;
  }

  &__head {
    color: #444444;
    font-size: 24px;
    font-weight: 500;
    padding: 23px 28px;
  }

  &__inner {
    background-color: $white;
    border-top: 1px solid #d7d7d7;
    padding: 0 40px 15px;
  }

  &__map {
    padding: 30px 0 60px;
    width: 100%;
    height: 415px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    color: #263238;
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px;
    position: relative;
    padding-bottom: 20px;

    &::before {
      position: absolute;
      font-family: 'icomoon';
      content: "\f041";
      left: 0;
      color: $green;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 41px;
      content: '';
      width: 44px;
      height: 4px;
      background-color: #8bc34a;
    }

    &--phone {
      &::before {
        content: "\f095";
      }
    }

    &--email {
      &::before {
        content: "\f003";
      }
    }
  }

  &__data {
    padding-left: 40px;
    margin: 20px 0 25px;
    max-width: 265px;
    color: #707070;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  &__form-title {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 23px;
  }

  &__form {
    max-width: 726px;
    width: 100%;
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 351px;
    height: 43px;
    background-color: #f1f4f5;
    border: none;
    padding: 0 17px;
    outline: transparent;

    &::placeholder {
      color: #7a7a7a;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &__message {
    max-width: 100%;
    width: 100%;
    height: 193px;
    overflow-y: auto;
    resize: none;
    background-color: #f1f4f5;
    border: none;
    outline: transparent;
    padding: 15px 17px;
    margin-top: 28px;
    margin-bottom: 22px;

    &::placeholder {
      //transform: translateY(+100%);
    }
  }

  &__form-btn {
    display: block;
    padding: 22px 35px;
    background-color: $green;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: transparent;
    cursor: pointer;
  }
}

// CONTACTS END

// SETTINGS START
.settings {

  &__tabs {
    margin-bottom: 52px;
    display: flex;
  }

  .tabs {
    max-width: 270px;
    width: 100%;
    border: 1px solid #d7d7d7;
    cursor: pointer;
    margin-right: 30px;
    height: 100%;
  }

  .tab {
    width: 100%;
    background-color: #fff;
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    //height: 50px;
    display: block;
    padding: 17px 17px 17px 50px;
    position: relative;

    &::before {
      position: absolute;
      font-family: 'icomoon';
      content: "\f105";
      color: #444;
      left: 25px;
      top: 15px;
    }

    & + .tab {
      border-top: 1px solid #d7d7d7;
    }

    &.active {
      color: #37474f;
      border-bottom: 2px solid $green;

      &::before {
        color: $green;
      }
    }
  }

  .tab__content {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    max-width: 100%;
    width: 100%;
    padding-bottom: 80px;
  }

  .tab-item {
    display: none;

    &.active-tab {
      display: block;
    }
  }

  &__line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__button {
    text-align: center;
  }

  &__btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background-color: $green;
    padding: 16px 30px;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    outline: transparent;
  }

  .jq-selectbox {
    &__select {
      height: 40px;
      padding: 0 18px;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      font-family: Roboto, sans-serif;
      color: #707070;
      font-size: 15px;
      text-shadow: none;
      line-height: 40px;
    }

    &__trigger {
      border-left: none;
      //right: 16px;
      //top: -13px;
    }

    &__trigger-arrow {
      right: 20px;
      line-height: 40px;
      top: 0;
      border: none;
      &::before {
        font-family: 'icomoon';
        content: "\f0d7";
        color: #444;
      }
    }
  }
}

.page-box {
  &__title {
    color: #263238;
    font-size: 24px;
    font-weight: 500;
    padding: 21px 34px 20px;
    border-bottom: 1px solid #d7d7d7;
  }

  &__form {
    margin-top: 35px;
  }

  &__input {
    background-color: #f4f6f5;
    outline: transparent;
    border: 1px solid #d7d7d7;
    height: 40px;
    max-width: 540px;
    width: 100%;
    padding: 0 16px;
  }

  &__select {
    background-color: #f4f6f5;
    outline: transparent;
    border: 1px solid #d7d7d7;
    height: 40px;
    max-width: 540px;
    width: 100%;
    color: #707070;
    font-size: 14px;
  }

  &__label {
    color: #444;
    width: 260px;
    font-size: 15px;
    padding-right: 15px;
  }

}

.page-box__content {
  padding: 0 34px;
}

// SETTINGS END

// PROFILE START
.profile {
  padding-bottom: 113px;

  &__inner {
    display: flex;
    margin-bottom: 30px;
  }

  &__aside {
    max-width: 270px;
    margin-right: 30px;
    width: 100%;
  }

  &__status {
    color: #70838d;
    font-size: 13px;
    padding: 18px 14px 10px 27px;
    border: 1px solid #ccc;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      left: 8px;
      top: 10px;
    }

    &--on {
      &::before {
        background-color: $green;

      }

      &::after {
        position: absolute;
        content: 'Online';
        top: 9px;
      }
    }

    &--off {
      &::before {
        background-color: $red;
      }

      &::after {
        position: absolute;
        content: 'Offline';
        top: 9px
      }
    }
  }

  &__link {
    padding: 18px 10px;
    width: 100%;
    background-color: $green;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    text-align: center;
    margin-bottom: 31px;

    &--message {
      background-color: #546e7a;
      position: relative;
      padding-left: 50px;
      margin-bottom: 17px;

      &::before {
        position: absolute;
        content: "\f003";
        font-family: 'icomoon';
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        left: 65px;
        top: 16px;
      }
    }
  }

  .footer__social-link {
    margin-bottom: 31px;
  }

  &__content {
    width: 100%;
  }

  &__banner-box {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 20px;
    max-width: 869px;
    height: 368px;
    margin-bottom: 10px;
  }

  &__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info-box {
    display: flex;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    text-align: center;
  }

  &__info {
    padding: 20px 10px 15px;
    flex-basis: 25%;
    //text-align: left;
    & + & {
      border-left: 1px solid #dcdcdc;
    }
  }

  &__info-title {
    color: #263238;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__info-content {
    color: #707070;
  }

  &__summ {
    color: #263238;
    font-weight: 500;
  }

  .tab {
    &::before {
      color: #d0d0d0;
      font-size: 14px;
      font-weight: 400;
      content: "\f007";
    }

    &--products {
      &::before {
        content: "\f0f2";
      }
    }

    &--message {
      &::before {
        content: "\f003";
      }
    }

    &--customer {
      &::before {
        content: "\f0e6";
      }
    }

    &--follow {
      &::before {
        content: "\f0c0";
      }
    }
  }

  .tab__content {
    background-color: transparent;
    border: none;
  }

  .personal-box {
    padding: 40px 46px 52px 42px;
    background-color: #fff;
    border: 1px solid #d7d7d7;

    &__title {
      color: #263238;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 32px;
    }

    &__text {
      color: #707070;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 46px;
    }

    &__items {
      color: #263238;
      font-size: 20px;
      font-weight: 700;
    }

    &__item-head {
      display: flex;
      justify-content: space-between;
      margin: 27px 0 14px;
    }

    &__item-name {
      color: #263238;
      font-size: 16px;
      font-weight: 500;
      font-style: italic;
    }

    &__item-number {
      color: #263238;
      font-size: 16px;
      font-weight: 700;
    }

    &__item-line {
      width: 100%;
      height: 15px;
      border-radius: 3px;
      background-color: #f4f4f4;
      margin-bottom: 23px;
    }

    &__item-skill {
      display: block;
      height: 15px;
      background: repeating-linear-gradient(
                      60deg,
                      #b5b5b5 0,
                      #b5b5b5 15px,
                      #cbcbcb 15px,
                      #cbcbcb 30px);
      border-radius: 3px;
    }
  }
}

// PROFILE END

// UPLOAD START
.upload {
  padding-bottom: 107px;

  &__inner {
    background-color: #fff;
    border: 1px solid #d7d7d7;
  }

  &__title {
    color: #263238;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 33px;
    border-bottom: 1px solid #d7d7d7;
  }

  &__content {
    padding: 43px 33px;
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    &--textarea {
      align-items: normal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    color: #444;
    font-size: 15px;
    max-width: 170px;
    width: 100%;
  }

  &__star {
    font-size: 24px;
    color: $green;
    padding-left: 2px;
  }


  &__property {
    display: block;
    width: 100%;
    padding: 8px 18px;
    height: 40px;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    outline: transparent;
    &::placeholder {
      color: #707070;
      font-size: 15px;
    }

    &--textarea {
      height: 150px;
      overflow-y: auto;
      resize: none;
    }

    &--select {
      padding: 0;
    }

    &--file {
      padding: 0;
    }
  }

  &__btn {
    background-color: $green;
    color: #fff;
    padding: 16px 35px;
    border: none;
    cursor: pointer;
    margin-left: 203px;
    margin-bottom: 68px;
  }

  .jq-selectbox {
    &__select {
      height: 40px;
      padding: 0 18px;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      font-family: Roboto, sans-serif;
      color: #707070;
      font-size: 15px;
      text-shadow: none;
      line-height: 40px;
    }

    &__trigger {
      border-left: none;
      //right: 16px;
      //top: -13px;
    }

    &__trigger-arrow {
      right: 20px;
      line-height: 40px;
      top: 0;
      border: none;
      &::before {
        font-family: 'icomoon';
        content: "\f0d7";
        color: #444;

      }
    }
  }

  .jq-file {
    box-shadow: none;
    border-radius: 0;

    &__name {
      height: 40px;
      padding: 0 18px;
      padding-left: 100px;
      border: none;
      background-color: #f9f9f9;
      border-bottom-color: #f9f9f9;
      border-radius: 0;
      box-shadow: none;
      color: #707070;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 40px;
      .focused {
        outline: none;
      }
    }

    &__browse {
      top: 5px;
      right: auto;
      left: 9px;
      padding: 0 12px;
      border: 1px solid #d7d7d7;
      border-radius: 0;
      background: #fff;
      box-shadow: none;
      text-shadow: none;
      color: #444;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 26px;
      height: 26px;

    }
  }
}
// UPLOAD END

// WITHDRAWALS START
.withdrawals {
  padding-bottom: 144px;
  &__inner {
    display: flex;
  }

  &__column {
    max-width: 570px;
    width: 100%;
    background-color: #fff;
    margin-right: 30px;
    padding-bottom: 50px;
    height: 100%;
    border: 1px solid #d7d7d7;
  }

  &__title {
    color: #263238;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 33px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
  }

  &__content {
    padding: 0 40px;
  }

  &__label {
    color: #263238;
    font-size: 16px;
    font-weight: 500;

  }

  &__star {
    color: $green;
    font-size: 24px;
    padding-left: 5px;
  }

  &__line {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    margin-top: 21px;
    height: 42px;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    padding: 0 20px;
    outline: transparent;

    &::placeholder {
      color: #707070;
    }

    &--select {
      padding: 0;
    }
  }

  .jq-selectbox {
    &__select {
      height: 40px;
      padding: 0 18px;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      font-family: Roboto, sans-serif;
      color: #707070;
      font-size: 15px;
      text-shadow: none;
      line-height: 40px;
    }

    &__trigger {
      border-left: none;
      //right: 16px;
      //top: -13px;
    }

    &__trigger-arrow {
      right: 20px;
      line-height: 40px;
      top: 0;
      border: none;
      &::before {
        font-family: 'icomoon';
        content: "\f0d7";
        color: #444;
      }
    }
  }

  &__btn {
    padding: 18px 30px;
    background-color: $green;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }

  &__field {
    display: flex;
    //justify-content: space-between;
    //padding: 0 30px 0 37px;
    align-items: center;
    height: 42px;
    width: 100%;
    font-size: 13px;
    color: #444;
    font-weight: 700;
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }

  &__time {
    font-weight: 500;
    max-width: 154px;
    width: 100%;
    padding-left: 20px;
  }

  &__email {
    font-weight: 400;
    max-width: 180px;
    padding-right: 5px;
    width: 100%;
    overflow: auto;
  }

  &__summ {
    max-width: 70px;
    width: 100%;
    padding-left: 10px;
  }

  &__status {
    max-width: 88px;
    width: 100%;
    padding-left: 20px;
    &.pending {
      color: #444;
    }
    &.paid {
      color: $green;
    }
  }
}
// WITHDRAWALS END


//END OF STYLE.SCSS
@import "media";









