@import 'vars';
@import 'global';
@import 'fonts';


//START HEADER

.header {
  background-color: #fff;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__box {
  display: flex;
  align-items: center;
}

.header__btn-login--off {
  display: none;
}

.header__btn-logout {
  display: none;

  &.header__btn-login--on {
    display: block;
  }
}


.header__circle {
  &.active {
    display: block;
  }

  display: none;
  width: 34px;
  height: 34px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;


  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
  }

  span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 18px;
    color: #fff;
    right: -7px;
    top: -7px;
    font-size: 11px;
  }
}


.notification {
  span {
    background-color: #fcb322;
  }
}

.message {
  span {
    background-color: $red;
  }
}

.basket {
  margin-right: 20px;
  span {
    background-color: $green;
  }
}

.user {
  margin-right: 30px;
  position: relative;
  padding-right: 20px;

  &::before {
    position: absolute;
    content: '\f107';
    font-family: 'icomoon';
    font-size: 16px;
    color: #707070;
    right: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__info {
    font-size: 14px;
    line-height: 24px;
  }

  &__images {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
  }

  &__money {
    display: block;
    font-weight: 700;
    color: $green;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
  }
}


.user__box,
.basket__box,
.message__box,
.notification__box {
  position: relative;
  height: 90px;
  margin-top: 40px;

  &:hover {
    .user__menu {
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}

.circle__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 0 solid #e0e0e0;
  border-top: none;
  padding: 0 23px;
  width: 269px;
  position: relative;
  transition: all .3s;

  &::before {
    position: absolute;
    top: 27px;
    right: 30px;
    color: $bobec;
  }
}

.circle__info {
  margin-left: 15px;
}

.circle__info-date {
  font-size: 10px;
  color: #707070;
}

.circle__menu {
  box-shadow: 0 16px 20px rgba(52, 52, 52, 0.75);
  position: absolute;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  top: 62px;
  right: 0;
  border-top: none;
  height: 0;
  overflow: hidden;
  transition: all .4s;
  z-index: 1;
}


.basket__box,
.message__box,
.notification__box {
  margin-top: 55px;
  margin-left: 15px;

  &:hover {

    .header__circle::before {
      color: black;
    }

    .circle__menu {
      height: auto;
      border-top: 1px solid #ccc;
    }

    .circle__item {
      padding: 23px;
      border-width: 1px;
    }
  }
}


.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register,
.header__btn-logout {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}


.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    & + li {
      margin-left: 40px;
    }
  }

  a {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }
}

.user__menu {
  position: absolute;
  width: 158px;
  box-shadow: 0 16px 20px rgba(52, 52, 52, 0.75);
  border: 0 solid #cccccc;
  background-color: #ffffff;
  padding: 0 20px;
  top: 69px;
  left: 20px;
  transition: all .3s;
  height: 0;
  overflow: hidden;

  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.circle__info-name {
  font-weight: 500;
  color: $bg;
}

.circle__info-theme {
  font-size: 12px;
  color: $green;
}

.circle__info-price {
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.basket__summ {
  padding: 16px 17px 12px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  border-top: none;
}

.basket__title {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
  color: $bg;
}

.basket__btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 12px 5px;
  background-color: $green;
  text-align: center;
  width: 100px;

  &--checkout {
    width: 123px;
    margin-left: 6px;
    background-color: $red;
  }
}

.message__menu,
.notification__menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .circle__info {
    line-height: 18px;
  }
}
.icons-color::before {
  color: tomato;
}

.header__btn-menu,
.menu__btn {
  display: none;
}


//END HEADER

//START SEARCH
.search {
  @include bg-prop;;
  min-height: 533px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 55px 0 70px;

      &-text {
        margin-bottom: 20px;
      }
    }
  }
}


.search__inner {
  padding: 155px 0 100px;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
      height: 56px;
      padding-left: 25px;;
      padding-right: 60px;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      box-sizing: border-box;
      border: 2px solid transparent;

      &:focus {
        border: 2px solid dodgerblue;
      }

      &::placeholder {
        color: #90a4ae;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 16px;
      right: 20px;
      cursor: pointer;
    }
  }
}

//END SEARCH

//START PRODUCTS
.products {
  padding: 110px 0;
  background-color: $gray;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 13px 22px;
    background-color: #fff;
    border: none;
    color: $bg;
    cursor: pointer;
    font-weight: 500;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }

    & + button {
      margin-left: 5px;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;


  &-img {
    display: block;
    min-height: 250px;
    @include bg-prop;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    font-size: 18px;
    color: $bg;
    display: block;
  }

  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }

  &-price {
    color: $bg;
    font-size: 20px;
    font-weight: 700;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      display: inline-block;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      @include bg-prop;
      margin-right: 13px;
    }

    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
    }

  }

  &-star {
    font-size: 12px;

    span {
      color: $bg
    }
  }

}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0;
    box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
    padding: 20px 32px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: $bg;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

//END PRODUCTS

//START PRODUCT-SLIDER
.product-slider {
  padding: 110px 0 120px;

  .slick-dots {
    text-align: center;
    margin-top: 50px;
  }

  li {
    display: inline-block;

    button {
      border-radius: 50%;
      background-color: #e8e8e8;
      border: 1px solid #ccc;
      font-size: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      outline: transparent;
    }

    &.slick-active {
      button {
        background-color: $green;
        border: 1px solid transparent;
      }
    }

  }

  li + li {
    margin-left: 7px;
  }


}

//END PRODUCT-SLIDER

//START ADVANTAGES
.advantages {
  background-color: $bg;
  padding: 100px 0 110px;

  &__title {
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    text-align: center;
    max-width: 340px;
    padding: 0 15px;

    &:hover {
      .advantages__item-image {
        background-color: $green;

        svg {
          fill: #fff;
        }
      }

      .advantages__item-title {
        color: $green;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      width: 113px;
      height: 113px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 113px;
      transition: all .2s;


      svg {
        display: inline-block;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 24px;
      color: $white;
      margin-bottom: 26px;
      transition: all .2s;

    }

    &-text {
      color: $bobec;
    }

  }
}

//END ADVANTAGES

//START AUTHOR
.author {
  @include bg-prop;
  min-height: 761px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: $green;
    padding: 0 60px;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $white;
    font-size: 30px;
    line-height: 30px;
    max-width: 260px;
    margin-right: 48px;

    span {
      font-weight: 700;
    }
  }

  &__link {
    //display: inline-block;
    padding: 14px 36px;
    background-color: $white;
    font-size: 18px;
    line-height: 36px;
  }
}

//END AUTHOR

//START TUTORIAL
.tutorial {
  padding: 70px 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    margin: 0 15px;
    background-color: #f8f8f8;

    &-image {
      @include bg-prop;
      width: 370px;
      height: 270px;
    }

    &-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: $bg;
      padding: 30px 10px;
    }
  }

}

//END TUTORIAL


//START FOOTER
.footer {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 116px 0 70px;
  }

  &__col {
    max-width: 261px;
    width: 100%;

    &-menu {
      max-width: 220px;
    }

    &-text {
      color: #b7c3c8;
      margin-bottom: 35px;
    }

    &-title {
      position: relative;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      color: $white;
      padding-bottom: 25px;
      margin-bottom: 35px;

      &::before {
        position: absolute;
        bottom: 0;
        left: 2px;
        content: '';
        width: 51px;
        height: 3px;
        background-color: $green;
      }
    }
  }

  &__info {
    position: relative;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-left: 30px;

    &::before {
      position: absolute;
      content: '';
      font-family: 'icomoon' !important;
      font-size: 18px;
      left: 0;
      top: -1px;
      color: $green;
    }
  }
}

.footer__address::before {
  content: '\f041';
}

.footer__phone::before {
  content: "\f095";
}


.footer__copy {
  border-top: 1px solid #424d53;

  &-text {
    color: #919699;
    text-align: center;
    padding: 27px 0 32px;
  }
}

.footer__col-list {
  color: #b7c3c8;

  a {
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      content: '\f105';
      font-family: 'icomoon' !important;
      font-size: 18px;
      left: 0;
      top: -1px;
      color: $green;
    }

    &:hover {
      color: $white;
    }

  }

  li + li {
    margin-top: 20px;
  }
}

.footer__social-link {
  margin-bottom: 41px;

  li {
    display: inline-block;

    & + li {
      margin-left: 7px;
    }
  }

  a {
    width: 28px;
    height: 28px;
    background-image: url('../images/social-css_sprites.png');
  }
}

.link-twitter {
  background-position: -84px 0;
}

.link-youtube {
  background-position: -112px -0;
}

.link-pinterest {
  background-position: -56px -0;
}

.link-linkedin {
  background-position: -28px -0;
}

.footer__form-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 18px;
}

.footer__form {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    background-color: #2f3c43;
    border: 1px solid #000000;
    outline: transparent;
    height: 40px;
    padding: 14px 16px;
    color: $white;
    display: block;

    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 43px;
    height: 38px;
    border: none;
    background-color: $green;
    cursor: pointer;
    outline: transparent;

    &::after {
      position: absolute;
      content: '\f124';
      font-family: 'icomoon' !important;
      font-size: 18px;
      right: 5px;
      bottom: 8px;
      left: 2px;
      color: $white;
    }
  }
}

//END FOOTER


/* ------ PRODUCT-PAGE START------ */
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 28px 32px;
  margin-bottom: 30px;
  width: 270px;

}

.aside__title {
  font-size: 20px;
  font-weight: 700;
  color: $bg;
  padding: 26px 0 19px;
}

.category__list {
  padding-top: 10px;

  li {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    position: relative;
    padding-left: 18px;

    &::before {
      position: absolute;
      content: '\f105';
      font-family: 'icomoon' !important;
      font-size: 18px;
      left: 0;
      color: $green;
    }

    span {
      color: #90a4ae;
      margin-left: 10px;
    }

    a {
      color: $bg;
    }
  }
}

.price-range {
  form {
    padding: 20px 0 0;

    button {
      background-color: $green;
      padding: 16px 10px;
      border: none;
      margin: 52px 5px 0 5px;
      width: 100%;
      color: $white;
      text-align: center;
      cursor: pointer;

      span {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        padding-left: 9px;
      }
    }
  }
}

.irs-max,
.irs-min {
  display: none;
}


.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: $bg;
}

.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  border: 3px solid $green;
  border-radius: 50%;
  background-color: $white;
  top: 19px;
  cursor: pointer;

  &:hover {
    background-color: #fff;
  }
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from, .irs-single, .irs-to {
  top: 45px;
}

.irs--flat .irs-to,
.irs--flat .irs-from {
  background-color: transparent;
  color: #78909c;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;

}

.irs--flat .irs-to:before,
.irs--flat .irs-from:before {
  display: none;
}

.product-page__aside {
  .product__item {
    box-shadow: none;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #dde3e8;
  }

  .product__item-img {
    min-height: 121px;
  }

  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }

  .product__item-info {
    padding: 0;
    min-height: 0;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-price {
    font-size: 16px;
  }

  .product__item-starnum {
    display: none;
  }

  .rate-star {
    margin-right: 0;
  }

  .product__item-author .avatar {
    margin-right: 9px;
  }

  .jq-ry-container {
    padding: 0;
  }

  .top-sellers__link {
    background-color: $green;
    padding: 16px 10px;
    //margin: 52px 5px 0 5px;
    width: 100%;
    color: $white;
    text-align: center;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    //padding-left: 9px;
  }
}

.product-page__content {
  width: 100%;

  .product__item {
    max-width: 270px;
    background-color: #fff;
    transition: all .5s;

    &.list {
      max-width: 100%;

      .product__item-img {
        float: left;
        width: 240px;
        min-height: 100%;
      }

      .product__item-text {
        display: block;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #70838d;
      }

      .product__item-price {
        font-size: 30px;

        span {
          display: block;
          font-size: 13px;
          color: #aeb4bb;
          margin-top: 30px;
        }
      }

      .product__item-name {
        max-width: 480px;
      }

      .product__item-list {
        display: block;
      }

      .product__item-star {
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }

  .product__item-list {
    display: none;

    .icon-comment-o,
    .icon-heart-o {
      position: relative;
      display: inline-block;
      font-size: 12px;
      color: #70838d;
      padding-left: 50px;
      border-left: 2px solid $bobec;

      span {
        font-weight: 500;
        color: $bg;
      }

      &::before {
        color: $green;
        font-size: 16px;
        position: absolute;
        left: 20px;
        bottom: -1px;

      }
    }

    .icon-comment-o {
      padding-right: 30px;
    }
  }

  .product__item-text {
    display: none;
  }

  .product__item-price {
    span {
      display: none;
    }
  }

  .product__item-img {
    min-height: 180px;
  }

  .product__item-content {
    padding: 25px 20px 10px;
    align-items: normal;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-info {
    padding: 15px 20px;
    min-height: 65px;
  }

  .rate-star {
    margin-right: 0;
  }
}

.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product-page__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 25px;
  height: 60px;
  margin-bottom: 30px;
  font-size: 14px;


  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #90a4ae;
    outline: transparent;

    &.active {
      color: $green;
    }
  }
}

.product-page__filter-sort {
  display: flex;
  align-items: center;
}

button.icon-sort-amount-desc {
  font-size: 14px;
  color: #455a64;
  margin-right: 12px;
}

button.icon-unsorted {
  font-size: 18px;
  color: #707070;
  margin-left: 14px;
}

.pagination {
  font-weight: 500;

  li {
    display: inline-block;

    & + li {
      margin-left: 6px;
    }
  }

  a,
  span {
    width: 43px;
    height: 38px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);

    background-color: #fff;
    color: #263238;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: #e74c3c;
      color: #fff;
    }
  }
}
//END OF PRODUCT PAGE


//START OF PRODUCT-ONE

.product-one {
  background-color: #f4f6f5;

  &__inner {
    display: flex;
  }

  &__content {
    padding-bottom: 100px;
    margin-right: 30px;
    max-width: 870px;
  }

  &__images-inner {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;

  }

  &__images {
    max-width: 829px;
    width: 100%;
    height: 422px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__text {
    color: #707070;
    font-size: 16px;
    line-height: 24px;
    max-width: 850px;
    margin-bottom: 45px;
  }

  &__box {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__link {
    display: flex;
    a + a {
      margin-left: 18px;
    }
  }

  &__button {
    width: 158px;
    height: 50px;
    padding: 0 8px;
    line-height: 50px;
    background-color: $red;
    font-size: 16px;
    color: #f4f6f5;
    &--dark {
      background-color: #455a64;
    }
    &--green {
      background-color: $green;
    }
  }

  &__social-btn {
    width: 54px;
    padding: 0 8px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    background-color: #6370b6;
    &+& {
      margin-left: 3px;
    }
  }
  .icon-twitter {
    background-color: #64b5f6;
  }
  .icon-linkedin {
    background-color: #4f71ce;
  }
  .icon-pinterest {
    background-color: #d32f2f;
  }

  &__more {

  }

  &__more-title {
    width: 100%;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    padding: 20px 0 20px 28px;
    color: #263238;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
  }



  &__more-icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__mini-product {
    display: flex;
    align-items: center;
    max-width: 270px;
    width: 100%;
    height: 90px;
    margin-bottom: 28px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  }

  &__mini-image {
    width: 100px;
    height: 90px;
  }

  &__mini-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__mini-info {
    padding-left: 20px;
  }

  &__name {
    color: #263238;
    font-size: 14px;
    font-weight: 500;
  }

  &__cat {
    color: #8bc34a;
    font-size: 12px;
  }

  &__price {
    color: #263238;
    font-size: 18px;
    font-weight: 700;
  }

  .tabs {
    display: flex;
    //justify-content: space-between;
    text-align: center;
    border: 1px solid #d7d7d7;
    cursor: pointer;
  }

  .tab {
    width: 100%;
    background-color: #fff;
    & + .tab {
      border: 1px solid #d7d7d7;
    }
  }
}

//END OF PRODUCT-ONE





//END OF STYLE.SCSS
@import "media";









