@import 'vars';
@import 'global';
@import 'fonts';


.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    & + li {
      margin-left: 40px;
    }
  }

  a {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }
}

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}

.search__inner {
  padding: 155px 0 100px;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom:50px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
      height: 56px;
      padding-left: 25px;
      padding-right: 60px;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      box-sizing: border-box;
      border: 2px solid transparent;
      &:focus {
        border: 2px solid dodgerblue;
      }
      &::placeholder {
        color: #90a4ae;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 16px;
      right: 20px;
      cursor: pointer;
    }
  }
}
